*, *::after,*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --pink: #D658B3;
  --green: #45B442;
  --gray-700: #332B31;
  --gray-600: #4A4448;
  --gray-500: #756C71;
  --gray-400: #D3CFD2;
  --gray-300: #DFDCDF;
  --gray-200: #E9E7E9;
  --gray-100: #F4F1F2;
  --white: #FFFFFF;
  --gradient-base-um: linear-gradient(135deg, #2DAA6E 0%, #2DAAAA 33.33%, #856CCF 66.67%, #D658B3 100%);
  --gradient-base: linear-gradient(135deg,  #D658B3 0%, #856CCF 33.33%, #2DAAAA 66.67%, #2DAA6E 100%);

  --ff-base: "Oxygen", sans-serif;
  --title-md: 700 1.5rem/140% var(--ff-base);
  --title-sm: 700 1.125rem/140% var(--ff-base);
  --subtitle-md: 700 0.875rem/140% var(--ff-base);
  --subtitle-sm: 700 0.75rem/140% var(--ff-base);
  --text-md: 400 1rem/140% var(--ff-base);
  --text-sm: 400 0.875rem/140% var(--ff-base);
  --text-xs: 400 0.75rem/140% var(--ff-base);
}

html {
  font-size: 16px;
}

body {
  background-color: var(--gray-200);
  font: var(--text-md);
  color: var(--gray-500);

  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 1rem;
}

main {
  width: 21.9375rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.flex{
  display: flex;
}

.center{
  align-items: center;
}

.space-between {
  justify-content: space-between;
}

.gap {
  gap: 1rem;
}

.gap-xs {
  gap: 0.75rem;
}

@media (width >= 90rem) {
  body {
    gap: 2rem;
  }
  main {
    width: 57rem;
  }  
}
