header {
  --margin-top: 2rem;

  margin-top: var(--margin-top);
  #logo-header {
    width: 99.43px;
    height: 48px;
  }
}

@media (width >= 90rem) {
  header {
    --margin-top: 4rem;

    #logo-header {
      width: 116px;
      height: 56px;
    }
  }
}
